.customerInfo {
      width: full;
      display: flex;
      flex-wrap: wrap;
      margin: 30px 20px 0 0;
      padding-left: 40px;
      justify-content: space-between;
}

.label {
      font-size: larger;
      font-weight: bolder;
}

.label:after {
      content: " *";
      color: red;
}

#customerText {
      margin: 20px 20px 20px 0;
      border-radius: 5px;
      width: 40vw;
      height: 5vh;
      padding: 10px 0 10px 10px;
      border: 0.75px solid #8D8D8D80;

}

#customerPhone {
      margin: 20px 20px 20px 0;
      border-radius: 5px;
      width: 30vw;
      height: 5vh;
      padding: 10px 0 10px 10px;
      border: 0.75px solid #8D8D8D80;
}

.feedback {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 96.7%;
      justify-content: space-between;
}

.questions {
      display: flex;
      flex-direction: column;
      width: 40vw;
      padding: 20px 20px 20px 20px;
      margin: 10px 0 20px 20px;
      font-size: large;
      font-weight: bolder;
}

.questions:after {
      content: " *";
      color: red;
}

.questionsRatings {
      display: flex;
      justify-content: space-between;
      width: 20vw;
      margin: 15px 10px 10px 0;
      font-weight: normal;
}

#submit {
      width: 9vw;
      height: 5vh;
      background: #48A44C;
      border-radius: 3px;
      opacity: 1;
      color: white;
      border: none;
      text-align: center;
      right: 7.2%;
      position: absolute;
      font-size: large;
      margin-top: 100px;
}

#submit:hover{
      background: #358539;
      cursor:pointer
}